/* font-family: 'Hina Mincho', serif; */

.jumbotron {
    background-image: url(../images/computer.jpg);
    background-size: cover;
    width: 100%;
    background-color: #01010161;
    background-blend-mode: darken;
}